<style type="text/css">
	body {
		background: url(<%= google_maps_url( :markers => @pub_markers) %> ) no-repeat 0 0;
		font-weight:bold;
		font-family: "Lucida Grande";
		font-size: 20pt;
		text-shadow: 0px 0px 1px red;
	}
	ol {
		list-style-type: none;
	}
</style>

<%= erb :add %>
<ol>
<% @pubs.each do |pub| %>
	<li>
		<%= h pub.id %>.)
		<%= h pub.name %>
		<%= h pub.address %>
	</li>
<% end %>
</ol>
<!-- <img src="<%= google_maps_url( :markers => @pub_markers) %>" width="512" height="512"/> -->
